<a ng-if="!entry.content.compose" class="btn btn-default" ng-click="entry.content.$addCompose()">
  Add Compose
</a>
<div ng-if="entry.content.compose">
  <h3>Compose: <a class="btn btn-danger" ng-click="entry.content.$rmCompose()">remove</a></h3>
  <div class="form-group">
    <label class="col-sm-2 control-label">import</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="entry.content.compose.import" placeholder="url"/>
    </div>
  </div>
  <hr/>

  <h4>..Includes:
    <a ng-click="entry.content.compose.$addInclude()"
      class="btn btn-default">Add include</a>
  </h4>
  <div class="form-group" ng-repeat="conceptSet in entry.content.compose.include">
    <div class="col-sm-11 col-sm-offset-1">
      <h4>....Include:
        <a class="btn btn-danger" ng-click="entry.content.compose.$rmInclude(conceptSet)">remove</a>
      </h4>
      <div ng-include src="'/src/views/valuesets/_form_concept_set.html'"></div>
    </div>
  </div>

  <hr/>
  <h4>..Excludes:
    <a ng-click="entry.content.compose.$addExclude()"
      class="btn btn-default">Add exclude</a>
  </h4>
  <div class="form-group" ng-repeat="conceptSet in entry.content.compose.exclude">
    <div class="col-sm-11 col-sm-offset-1">
      <h4>....Exclude:
        <a class="btn btn-danger" ng-click="entry.content.compose.$rmExclude(conceptSet)">remove</a>
      </h4>
      <div ng-include src="'/src/views/valuesets/_form_concept_set.html'"></div>
    </div>
  </div>

</div>
