<div>
  <div class="form-group">
    <label class="col-sm-2 control-label">name</label>
    <div class="col-sm-10">
      <input name="name" require type="text" class="form-control" ng-model="entry.content.name" placeholder="name"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">identifier</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="id" ng-model="entry.content.identifier"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">version</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="entry.content.version" placeholder="version"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">publisher</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="entry.content.publisher" placeholder="publisher"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">description</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" ng-model="entry.content.description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">status</label>
    <div class="col-sm-10">
      <select ng-options="l as l for l in entry.content.$statuses" ng-model="entry.content.status" placeholder="status" class="form-control"> </select>
    </div>
  </div>
  <!-- <telecom><1!-- 0..* Contact Contact information of the publisher § --1></telecom> -->
  <!-- <copyright value="[string]"/><1!-- 0..1 About the value set or its content --1> -->
  <!-- <experimental value="[boolean]"/><1!-- 0..1 If for testing purposes, not real usage § --1> -->
  <!--  <extensible value="[boolean]"/><1!-- 0..1 Whether this is intended to be used with an extensible binding --1> -->
  <!-- <date value="[dateTime]"/><1!-- 0..1 Date for given status § --1> -->
</div>
