<h1>
  {{valueset.content.name}}
  <a class="btn btn-default">
    <b>v:</b> {{v.version}}
    <span class="badge">{{valueset.content.status}}</span>
    <span ng-if="valueset.content.experimental" class="badge">experimental</span>
  </a>
  <small>{{valueset.content.date | date}}</small>
  <div class="btn-group pull-right">
    <a class="btn btn-default" switcher="vm.state" swvalue='info' >info</a>
    <a class="btn btn-default" switcher="vm.state" swvalue='json'>json</a>
  </div>
</h1>
<hr/>
<p><b>id:</b> {{valueset.content.identifier}}</p>
<p><b>publisher:</b> {{valueset.content.publisher}}</p>

<p ng-repeat="tel in valueset.content.telecom">
<b>telecom:</b> {{tel.system}}: {{tel.value}}</p>
</p>
<p>{{valueset.content.description}}</p>

<hr/>
