<h1>
  {{v.name}}
  <a class="btn btn-default">
    <b>v:</b> {{v.version}}
    <span class="badge">{{v.status}}</span>
    <span ng-if="v.experimental" class="badge">experimental</span>
  </a>
  <small>{{v.date | date}}</small>
  <div class="btn-group pull-right">
    <a class="btn btn-default" switcher="vm.state" swvalue='info' >info</a>
    <a class="btn btn-default" switcher="vm.state" swvalue='json'>json</a>
  </div>
</h1>
<hr/>
<p><b>id:</b> {{v.identifier}}</p>
<p><b>publisher:</b> {{v.publisher}}</p>

<p ng-repeat="tel in v.telecom">
<b>telecom:</b> {{tel.system}}: {{tel.value}}</p>
</p>
<p>{{v.description}}</p>

<hr/>
