<h1>
  <img title="{{entry.user.name}}"
       class="avatar" ng-src="{{(entry.user && entry.user.avatar) || 'http://www.hl7.org/implement/standards/fhir/v0.08/flame128.png'}}"/>
  {{item | json}}
  {{valueset.content.name}}
  <a class="btn btn-default">
    <b>v:</b> {{valueset.content.version}}
    <span class="badge">{{valueset.content.status}}</span>
    <span ng-if="valueset.content.experimental" class="badge">experimental</span>
  </a>
  <small>{{valueset.content.date | date}}</small>
  <div class="btn-group pull-right">
    <a class="btn btn-default" switcher="vm.state" swvalue='info' >info</a>
    <a class="btn btn-default" switcher="vm.state" swvalue='json'>json</a>
    <a class="btn btn-danger" ng-click="remove()">remove</a>
    <a class="btn btn-success" href="#/vs/{{entry.id}}/edit">edit</a>
  </div>
</h1>
<hr/>
<p><b>id:</b> {{valueset.content.identifier}}</p>
<p><b>publisher:</b> {{valueset.content.publisher}}</p>

<p ng-repeat="tel in valueset.content.telecom">
<b>telecom:</b> {{tel.system}}: {{tel.value}}</p>
</p>
<p>{{valueset.content.description}}</p>

<hr/>
