<div class="well">
  <input placeholder="search by prefixes" class="form-control srch" ng-model="search"/>
</div>
<a href="#/vs/{{entry.id}}" class="srch-res" ng-repeat="entry in valuesets | vsearch:search | limitTo:30">
  <h4>
    <img title="{{entry.user.name}}"
         class="avatar" ng-src="{{(entry.user && entry.user.avatar) || 'http://www.hl7.org/implement/standards/fhir/v0.08/flame128.png'}}"/>
    {{entry.title}}
  </h4>
  <p>
    {{entry.summary}}
  </p>
  <i class="fa fa-chevron-right"></i>
</a>
