<h2>ValueSet
  <div class="btn-group pull-right">
    <a class="btn btn-default" switcher="state" swvalue="form">form</a>
    <a class="btn btn-default" switcher="state" swvalue="json">json</a>
    <!-- <a class="btn btn-default" switcher="state" swvalue="info">info</a> -->
  </div>
</h2>
<hr/>

<div ng-show="state=='form'">
  <div ng-include src="'/src/views/valuesets/_info_form.html'"></div>
  <hr/>
  <div ng-include src="'/src/views/valuesets/_definition_form.html'"></div>
  <hr/>
  <div ng-include src="'/src/views/valuesets/_compose_form.html'"></div>
  <hr/>
  <div class="form-group">
    <div class="col-sm-6">
      <button type="submit" class="col-sm-12 btn btn-success">
        Save
      </button>
    </div>
    <div class="col-sm-6">
      <button type="submit" class="col-sm-12 btn btn-defalut">
        Cancel
      </button>
    </div>
  </div>
</div>

<div ng-show="state=='json'">
  <ui-codemirror
  style="min-height: 1000px;"
  ui-codemirror-opts="{mode: 'javascript', lineWrapping: true, lineNumbers: true, json: true, onLoad : codemirror}"
  ui-refresh="state=='json'"
  ng-model='vjson'>
  </ui-codemirror>
</div>

<!-- <div ng-show="state=='info'"> -->
<!--   <div class="txt"> -->
<!--     <h3>Scope and Usage</h3> -->
<!--     <p> -->
<!--     Value sets may be constructed in one of two ways: -->
<!--     </p> -->
<!--     <ul> -->
<!--       <li>A value set can <i>define</i> its own codes, and/or</li> -->
<!--       <li>A value set can be <i>composed</i> of codes defined in other code systems, either by listing the codes or by providing a set of selection criteria</li> -->
<!--     </ul> -->
<!--     <p> -->
<!--     A value set can also be "expanded", where the value set is turned into a simple collection of enumerated codes. -->
<!--     This operation is performed to produce a collection of codes that are ready to use for data entry or -->
<!--     validation. An expanded value set may also contain the original definition as well. -->
<!--     </p> -->
<!--   </div> -->
<!-- </div> -->
