<div ng-init="state ='info'">
  <h1>
    <span ng-include src="'/src/views/valuesets/_header.html'"></span>
    <div class="btn-group pull-right">
      <a class="btn btn-default" switcher="state" swvalue='info' >info</a>
      <a class="btn btn-default" switcher="state" swvalue='form'>edit</a>
      <a class="btn btn-default" switcher="state" swvalue='json'>json</a>
    </div>
  </h1>
  <hr/>
  <div ng-show="state=='info'">
    <p><b>id:</b> {{entry.content.identifier}}</p>
    <p><b>publisher:</b> {{entry.content.publisher}}</p>

    <p ng-repeat="tel in entry.content.telecom">
    <b>telecom:</b> {{tel.system}}: {{tel.value}}</p>
    </p>
    <p>{{entry.content.description}}</p>
    <div ng-include src="'/src/views/valuesets/_info.html'"></div>
  </div>

  <div ng-show="state=='form'">
    <form class="form-horizontal" role="form" ng-submit="save()">
      <div ng-if="errors" class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="alert alert-danger">
            <ul>
              <li ng-repeat="(f,e) in errors">
              <b>{{f}}</b> {{e}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-include src="'/src/views/valuesets/_form_info.html'"></div>
      <hr/>
      <div ng-include src="'/src/views/valuesets/_form_definition.html'"></div>
      <hr/>
      <div ng-include src="'/src/views/valuesets/_form_compose.html'"></div>
      <hr/>
      <div class="form-group">
        <div class="col-sm-4">
          <button type="submit" class="col-sm-12 btn btn-success"> Save </button>
        </div>
        <div class="col-sm-4">
          <a class="col-sm-12 btn btn-danger" ng-click="remove()">Remove</a>
        </div>
        <div class="col-sm-4">
          <a href="#/" class="col-sm-12 btn btn-default"> Cancel </a>
        </div>
      </div>
    </form>
  </div>

  <div ng-show="state == 'json'">
    <div ng-if="parseError" class="alert alert-danger">
      {{parseError}}
    </div>
    <ui-codemirror
    style="min-height: 1000px;"
    ui-codemirror-opts="{mode: 'javascript', lineWrapping: true, lineNumbers: true, json: true, onLoad : codemirror}"
    ui-refresh="state=='json'"
    ng-model='json'>
    </ui-codemirror>
  </div>
</div>
