body {
}

.brcrmp {
  background: white;
  font-size: 16px;
  line-height: 24px;
  color: black;
  .menu-item {
    display: inline-block;
    &.active a, &.active a:hover{
      border-top: 2px solid goldenrod;
    }
  }
  .logo {
    font-size: 25px;
    display: inline-block;
    color: #e62b1e;
  }

  a, a:hover, {
    display: inline-block;
    color: #555;
    font-weight: bold;
    padding: 7px 12px 4px;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
  }
  a:hover {
    color: #e62b1e;
  }
  border-bottom: 2px solid #e62b1e;
}
input.srch {
  font-size: 1.3em;
  width: 100%;
  display: inline-block;
}
svg a {
  color: black;
}

.brcrmp.old {
  background: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  box-shadow: 0px 2px 3px #ccc;
  color: black;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.2em;
  z-index: 1000;
  color: #555;
  text-shadow: 1px 1px 1px white;

  .menu-item {
    display: inline-block;
    &.active a, &.active a:hover{
      border-top: 2px solid goldenrod;
    }
  }

  a, a:hover, {
    display: inline-block;
    color: #555;
    padding: 7px 12px 4px;
    text-shadow: 1px 1px 1px white;
  }
}

.small-jumbotron {
  background: #463F3F;
  color: white;
  padding: 20px;
  font-size: 1.2em;
}
.jumbotron {
  background: #463F3F;
  color: white;
  border-radius: 0 !important;
  padding: 40px 0;
  h1 {
    text-shadow: -1px -1px 1px #555;
    font-size: 63px;
    a {
      text-shadow: none;
    }
    sup {
      font-size: 30%;
      vertical-align: super;
      color: lightgreen;
      text-shadow: none;
    }
  }
  h3 {
    text-shadow: none;
    font-size: 21px;
  }
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #aaa;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}

.view {
  padding: 20px 50px;
}

.view.ng-enter,
.view.ng-leave {
  -webkit-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -moz-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -ms-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  -o-transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
  transition: 455ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
}

.view.ng-enter {
  opacity: 0.4;
}

.view.ng-enter.ng-enter-active {
  opacity: 1;
}

.view.ng-leave { }

.view.ng-leave.ng-leave-active {
  display: none;
}

@font-face {
  font-family: 'LogosFont';
  src: url('../fonts/LogosFont.ttf');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: LogosFont ;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.spinner {
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         1s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  linear;
}
.CodeMirror {
  border: 1px solid #aaa;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
}
.item {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  &:hover {
    background: #f1f1f1;
    text-decoration: none;
  }
}
.btns {
  background: #ddd;
  background-image: linear-gradient(#ddd, #eee);
  background-repeat: repeat-x;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 50px 20px;
  .btn {
    width: 10em;
    display: inline-block;
    margin-right: 10px;
  }
}
@-webkit-keyframes pran
{
  from {color: green;}
  to   {color: red;}
}

.logo.prgrss {
  color: red;
  webkit-animation: pran 1s;
  animation: pran 1s;
}
.srv-error {
  position: absolute;
  padding: 15px;
  z-index: 1000;
  left: 40px;
  right: 40px;
  bottom: 74px;
  top: 50px;
  border: 1px solid;
  box-shadow: 0px 0px 7px gray;
  .close {
    font-size: 50px;
    color: red;
  }
}
.success {
  position: fixed;
  border: 1px solid #ccc;
  background: white;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  color: green;
  z-index: 1001;
}
.notifications {
  opacity: 0.8;
  position: fixed;
  border: 1px solid #ccc;
  background: white;
  right: 10px;
  box-shadow: 1px 1px 2px gray;
  bottom: 10px;
  z-index: 1001;
  .notification {
    padding: 10px;
    cursor: pointer;
    color: green;
    &:hover {
      background: #f1f1f1;
      .fa {
        color: red;
      }
    }
    border-bottom: 1px solid #ddd;
  }
}

.itm {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  &:hover {
    background: #eee;
  }
}
.prm {
  vertical-align: top;
  &.prm-ttl {
    background: #eee;
    .lbl {
      text-align: left;
      min-width: 252px;
      margin-left: 1px;
    }
  }
  .c1,.c2,.c4,.c8,.c16 {
    display: inline-block;
    outline: 1px solid #ddd;
    padding: 5px;
  }
  .c1 { width: 26px; }
  .c2 { width: 52px; }
  .c4 { width: 104px; }
  .c8 { width: 208px; }
  .c16 { width: 416px; }

  .lbl, .llbl {
    outline: 1px solid #ddd;
    margin-left: 1px;
    min-width: 200px;
    display: inline-block;
    text-align: right;
    // font-weight: bold;
    padding: 5px 10px;
  }
  .llbl {
    min-width: 252px;
  }
  .or-vals {
    display: inline-block;
    vertical-align: top;
  }
  .or-val {
  }
  .del {
    background-color: white;
    font-weight: bold;
    padding: 5px 10px;
  }
  outline: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  .mod {
    width: 6em;
  }
  .rght {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 1px solid #ddd;
    display: inline-block;
  }
  input {
    border: none;
    margin: 0;
    outline: 1px solid #ddd;
    padding: 5px;
    &:active, &:focus {
      border: none;
      outline: 1px solid blue;
    }
  }
  button {
    display: inline-block;
    border: none;
    outline: 1px solid #ddd;
    padding: 5px;
    box-shadow: none;
    margin:0;
    margin-left: 1px;
    text-align: center;
    background-color: transparent;
    &:hover, &:focus {
      background-color: #eee;
    }
    &.rm {
      &:hover {
        color: red;
      }
    }
  }
  select {
    text-transform: none;
    border: none;
    background: white;
    outline: 1px solid #ddd;
    padding: 6px;
    &:focus {
      outline: 1px solid blue;
    }
  }
}
.srch-box {
  .ttl {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #eee;
  }
  min-height: 20px;
  margin-bottom: 20px;
  // border: 1px solid #e3e3e3;
  // border-radius: 4px;
  // -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  // box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
